 body {
     margin: 0;
     padding: 0;
 }

 @font-face {
     font-family: 'reto';
     src: url('https://cdn4.uvnimg.com/92/dd/b3e2935b422e88437782fa690538/reto.eot?mbsmft');
     src: url('https://cdn4.uvnimg.com/92/dd/b3e2935b422e88437782fa690538/reto.eot?mbsmft#iefix') format('embedded-opentype'),
         url('https://cdn4.uvnimg.com/8a/d9/a3b219074ca7b74e5fb5e42a05d8/reto.ttf?mbsmft') format('truetype'),
         url('https://cdn4.uvnimg.com/86/bf/74abba204b1a91d16429336f3911/reto.woff?mbsmft') format('woff'),
         url('https://cdn2.uvnimg.com/6b/27/97f5f34043528f1d9cb162ec76b1/reto.svg?mbsmft#reto') format('svg');
     font-weight: normal;
     font-style: normal;
 }

 @font-face {
    font-family: poppinsRegular;
    src: url('../fonts/poppins/Poppins-Regular.ttf');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: poppinsBlack;
    src: url('../fonts/poppins/Poppins-Black.ttf');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: poppinsSemiBold;
    src: url('../fonts/poppins/Poppins-SemiBold.ttf');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: poppinsMedium;
    src: url('../fonts/poppins/Poppins-Medium.ttf');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: dosisRegular;
    src: url('../fonts/dosis/Dosis-Regular.ttf');
    font-weight: normal;
    font-style: normal;
  }
  
 .container-uforia-B2B {
     *{
        box-sizing: border-box;
     }
     ul {
         padding: 0;
         margin: 0;

         li {

             padding: 0;
             list-style: none;
         }
     }

     .general-nav {
         height: 70px;
         width: 100%;
         background: white;
         color: #000000;
         line-height: 20px;
         font-size: 13px;
         font-family: 'poppinsMedium';

         ul {
             height: 100%;
             width: 194px;
             display: flex;
             justify-content: space-between;
             align-items: center;
             margin: 0 auto;
         }
     }

     section {
         min-height: 100vh;
         background: url('../images/home/home.png');
         background-repeat: no-repeat;
         background-size: cover;
         background-position: center;

         .header {
             max-width: 673px;
             width: 100%;
             margin: 0 auto;
             padding: 126px 0 26px;
             display: flex;

             p {
                 font-size: 30px;
                 font-weight: 900;
                 letter-spacing: 0.21px;
                 line-height: 40px;
                 color: #ffffff;
                 font-family: 'poppinsBlack';
             }

         }

         .subheader {
             font-size: 28px;
             letter-spacing: 0.2px;
             line-height: 36px;
             text-align: center;
             color: #ffffff;
             font-family: 'poppinsRegular';
         }

         .internal-nav {
             height: 24px;
             max-width: 491px;
             width: 100%;
             overflow-x: scroll;
             font-size: 14px;
             font-weight: 600;
             line-height: 21px;
             text-align: center;
             display: flex;
             color: #ffffff;
             margin: 0 auto;
             justify-content: space-between;
             font-family: 'poppinsMedium';
         }

         .graphics {
             max-width: 673px;
             width: 100%;
             margin: 0 auto;
             display: flex;
             justify-content: space-between;
         }

         ul.conventions {
             display: flex;
             justify-content: space-between;
             max-width: 673px;
             width: 100%;
             margin: 0 auto;

             li {
                 font-size: 10px;
                 line-height: 12px;
                 text-align: center;
                 color: #ffffff;

                 &::before {
                     content: "";
                     width: 16.59px;
                     height: 16.57px;
                     display: inline-block;
                     border-radius: 50%;
                     vertical-align: middle;
                     margin-right: 7px;
                 }
             }
         }

         .mexican-color {
             &::before {
                 background: #FF7400;
             }
         }

         .spanish-color {
             &::before {
                 background: #8D58F0;
             }
         }

         .spanish-contemporary-color {
             &::before {
                 background: #EA6EE5;
             }

         }

         .news-color {
             &::before {
                 background: #DD4C93;
             }
         }

     }

     footer{
        height: 80px;
        background: #000000;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 5%;
        font-family: 'dosisRegular';
        div{
            display: flex;
            color: #ffffff;
            p{
                display: flex;
                flex-direction: column;
            }
        }
    }

 }